<section>
    <nav class="js-nav"></nav>

    <h1>Backbone Project</h1>

    <h2>Foo Model</h2>
    <dl>
        <dt>name</dt>
            <dd>{{ foo.name }}</dd>
        <dt>description</dt>
            <dd>{{ foo.description }}</dd>
    </dl>

    <section class="js-form"></section>
</section>